* {
    box-sizing: border-box;
  }
body{
    background-color: rgba(0,0,0,0.1);
}
.container{
    
    background-color: rgba(0,0,0,0.4);
    width: 80vw;
    position: absolute;
    left: 10vw;
    height: auto;
   
    
}
h1{
    text-align: center;

}
#description{
    text-align: center;
    font-size: 2rem;
}
input[type=text],input[type=email],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #gender-label, #hobbies-label,#name-label,#email-label,#age-label,#comment-label{
      display: block;
      line-height: 2rem;
      font-size: 2rem;
      text-transform: capitalize;
  }
  textarea{
      max-width: 400px;
      max-height: 60px;
  }
  @media screen and (max-width: 700px){
      .container{
          width: 100%;
          margin: 0;
          padding: 0;
          left: 0vw;
      }
  }